html, body {
	margin: 0;
	padding: 0;

	height: 100%;
}

#map {
	width: 100%;
	height: 100%;
}

.text-labels {
	font-size: 1em;
	font-weight: 700;
	color: black;
	text-align: center;
	/* Use color, background, set margins for offset, etc */
}


/* Se lippu vittuun */
svg.leaflet-attribution-flag {
	display: none !important;
}

